version: "3.8"

services:
  mosquitto:
    build: ./mqtt
    container_name: mosquitto-broker
    restart: always
    ports:
      - "1883:1883"
      - "9001:9001"
    networks:
      - secure-net

networks:
  secure-net:
    driver: bridge
