services:
  mosquitto:
    image: eclipse-mosquitto:2
    container_name: mosquitto-broker
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - ./mosquitto.conf:/mosquitto/config/mosquitto.conf
      - mosqdata:/mosquitto/data
      - mosqlog:/mosquitto/log

volumes:
  mosqdata:
  mosqlog:
